<h1>Items</h1>

<p><%= link_to 'Добавить товар', new_item_path %></p>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
  <table>
    <tr>
      <th>item id</th>
      <th>Name</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @items.each do |i| %>

      <tr>
        <td><%= i.id %></td>
        <td><%= link_to i.name, item_path(i) %></td>
        <td><%= i.price %> руб.</td>
        <td><%= link_to 'Удалить', item_path(i),
                method: :delete,
                data: { confirm: 'Вы уверены?' } %></td>
        <td><%= button_to 'Редактировать', edit_item_path(i),
                method: :get %></td>
        <td>Рейтинг: <%= i.votes_count %>, 
                     <%= link_to '+', upvote_item_path(i) %></td>
       </tr>

    <% end %>

  </table>
<% end %>

<% unless @expensive %>

  <h3><%= link_to 'Дорогие товары', expensive_items_path %></h3>

<% else %>

  <h3><%= link_to 'back', items_path %></h3>

<% end %>

